
/* ...........browser reset code ................ */

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


div{
    margin: 1rem;
    padding: 10px;
}

/* ...........Card design................ */
.card{
    background: antiquewhite;
}
.card__tittle{
   color: maroon;
}


/* ...........feedback code ................ */

.feedback{
    background: gainsboro;
}
.feedback__tittle{
   color: olivedrab;
}